<page-header></page-header>
<div id="panel-table">
  <mat-card id="card-table">CALCULO DE INDICE PONDERADO LASPEYES</mat-card>
</div>

<mat-card class="principal">
  <mat-card class="vistaUsers3">
    <p>
      Utilizando el metodo de Laspeyes, calcular el indice ponderado de precios para la importacion
      de combustibles en el año 2019 con respecto al 2017. Las medidas son millones de barriles y el
      precio en dolares.
    </p>
  </mat-card>

  <div class="unidos">
    <mat-card class="vistaUsers">
      <div class="barraAzul"></div>
      <mat-card-content>
        <p class="titleTable">Gasolina superior</p>
        <hr />

        <div class="variables">
          <mat-card class="card-table1"> 2017 </mat-card>
          <mat-form-field class=".example-full-width" appearance="outline">
            <mat-label>Barriles (q<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato1"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field  class=".example-full-width" appearance="outline">
            <mat-label>Precio (p<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato2"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-card class="card-table1"> 2019 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato3"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato4"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
        </div>

        <p class="titleTable">Gasolina Regular</p>
        <hr />
        <div class="variables">
          <mat-card class="card-table1"> 2017 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato5"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato6"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
          <mat-card class="card-table1"> 2019 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato7"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato8"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="vistaUsers">
      <div class="barraAzul"></div>
      <mat-card-content>
        <p class="titleTable">Kerosene</p>
        <hr />

        <div class="variables">
          <mat-card class="card-table1"> 2017 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato9"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato10"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-card class="card-table1"> 2019 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato11"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato12"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
        </div>

        <p class="titleTable">LPG</p>
        <hr />
        <div class="variables">
          <mat-card class="card-table1"> 2017 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato13"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato14"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
          <mat-card class="card-table1"> 2019 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato15"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato16"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="vistaUsers">
      <div class="barraAzul"></div>
      <mat-card-content>
        <p class="titleTable">Bunker</p>
        <hr />

        <div class="variables">
          <mat-card class="card-table1"> 2017 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato17"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>0</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato18"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-card class="card-table1"> 2019 </mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Barriles (q<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato19"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Gal</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio (p<sub>1</sub>)</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="this.dato20"
              class=".example-full-width"
              (keyup)="sumas()"
            />
            <span matTextSuffix>Bs.</span>
            <!-- <mat-error *ngIf="dataForm.controls['names'].hasError('required')">
            <strong>{{ 'menu.usuarios.error.names' | translate }}</strong>
          </mat-error> -->
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="panel-table">
    <mat-card id="card-table2">CUADRO INDICE LASPEYRES</mat-card>
  </div>
  <mat-card class="vistaUsers1">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td colspan="7" scope="row" class="rowTop"></td>
          </tr>
          <tr>
            <th scope="col" class="rowFinal1"></th>
            <th colspan="2" class="rowFinal1">2017</th>
            <th colspan="2" class="rowFinal1">2019</th>
            <th scope="col" class="rowFinal1">2017</th>
            <th scope="col" class="rowFinal1">2019</th>
          </tr>
          <tr>
            <th scope="col" class="rowTotal">Producto</th>
            <th scope="col" class="rowTotal">Barriles (q<sub>0</sub>)</th>
            <th scope="col" class="rowTotal">Precio (p<sub>0</sub>)</th>
            <th scope="col" class="rowTotal">Barriles (q<sub>1</sub>)</th>
            <th scope="col" class="rowTotal">Precio (p<sub>1</sub>)</th>
            <th scope="col" class="rowTotal">p<sub>0</sub> q<sub>0</sub><mat-icon #tooltip="matTooltip"
              matTooltip="Se multiplican los valores de Precio  x Barriles"
              matTooltipPosition="above"
              id="sobremi2"class="icon1"> info </mat-icon></th>
            <th scope="col" class="rowTotal">p<sub>1</sub> q<sub>0</sub><mat-icon #tooltip="matTooltip"
              matTooltip="Se multiplican los valores de Precio  x Barriles"
              matTooltipPosition="above"
              id="sobremi3"class="icon1"> info </mat-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="rowTotal">Gasolina Superior</th>
            <td id="afectado15">{{ this.dato1 }}</td>
            <td id="afectado16">{{ this.dato2 }}</td>
            <td>{{ this.dato3 }}</td>
            <td id="afectado17">{{ this.dato4 }}</td>
            <td>{{ this.resultado1 }}</td>
            <td>{{ this.resultado2 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">Gasolina Regular</th>
            <td  id="afectado18">{{ this.dato5 }}</td>
            <td  id="afectado19">{{ this.dato6 }}</td>
            <td>{{ this.dato7 }}</td>
            <td  id="afectado20">{{ this.dato8 }}</td>
            <td>{{ this.resultado3 }}</td>
            <td>{{ this.resultado4 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">Kerosene</th>
            <td  id="afectado21">{{ this.dato9 }}</td>
            <td  id="afectado22">{{ this.dato10 }}</td>
            <td>{{ this.dato11 }}</td>
            <td  id="afectado23">{{ this.dato12 }}</td>
            <td>{{ this.resultado5 }}</td>
            <td>{{ this.resultado6 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">LPG</th>
            <td  id="afectado24">{{ this.dato13 }}</td>
            <td  id="afectado25">{{ this.dato14 }}</td>
            <td>{{ this.dato15 }}</td>
            <td  id="afectado26">{{ this.dato16 }}</td>
            <td>{{ this.resultado7 }}</td>
            <td>{{ this.resultado8 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">Bunker</th>
            <td id="afectado27">{{ this.dato17 }}</td>
            <td id="afectado28">{{ this.dato18 }}</td>
            <td>{{ this.dato19 }}</td>
            <td id="afectado29">{{ this.dato20 }}</td>
            <td>{{ this.resultado9 }}</td>
            <td>{{ this.resultado10 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="rowFinal3">{{ this.resultado11 }}</td>
            <td class="rowFinal3">{{ this.resultado12 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
  <mat-card class="vistaUsers1">
    <p class="titleTable">SOLUCION INDICE PONDERADO LASPEYRES</p>
    <hr />
    <div class="titleDato">
      <mat-card class="vistaUsers2">
        <p>
          I<sub>PL</sub> = (Σ p<sub>1</sub> q <sub>0</sub> / Σ p<sub>0</sub> q <sub>0</sub>) x 100
        </p>
        <p>
          I<sub>PL</sub> = ( {{ this.resultado12 }} / {{ this.resultado11 }} ) x 100%
        </p>
      </mat-card>
      <mat-card class="TitleResult">
        <p>I<sub>PL</sub> = {{ this.resultado13 }} %</p>
      </mat-card>

      <p class="title3">Los precios de los productos en analisis incrementaran en: {{ this.resultado13 }} % - 100 % = {{ this.resultado14 }} %</p>
    </div>
  </mat-card>

  <div id="panel-table">
    <mat-card id="card-table2">CUADRO INDICE PRECIOS PAASCHE</mat-card>
  </div>
  <mat-card class="vistaUsers1">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td colspan="7" scope="row" class="rowTop"></td>
          </tr>
          <tr>
            <th scope="col" class="rowFinal1"></th>
            <th colspan="2" class="rowFinal1">2017</th>
            <th colspan="2" class="rowFinal1">2019</th>
            <th scope="col" class="rowFinal1">2017</th>
            <th scope="col" class="rowFinal1">2019</th>
          </tr>
          <tr>
            <th scope="col" class="rowTotal">Producto</th>
            <th scope="col" class="rowTotal">Barriles (q<sub>0</sub>)</th>
            <th scope="col" class="rowTotal">Precio (p<sub>0</sub>)</th>
            <th scope="col" class="rowTotal">Barriles (q<sub>1</sub>)</th>
            <th scope="col" class="rowTotal">Precio (p<sub>1</sub>)</th>
            <th scope="col" class="rowTotal">p<sub>0</sub> q<sub>1</sub><mat-icon #tooltip="matTooltip"
              matTooltip="Se multiplican los valores de Precio  x Barriles"
              matTooltipPosition="above"
              id="sobremi0"class="icon1"> info </mat-icon></th>
            <th scope="col" class="rowTotal">p<sub>1</sub> q<sub>1</sub><mat-icon #tooltip="matTooltip"
              matTooltip="Se multiplican los valores de Precio  x Barriles"
              matTooltipPosition="above"
              id="sobremi1"class="icon1"> info </mat-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="rowTotal">Gasolina Superior</th>
            <td>{{ this.dato1 }}</td>
            <td id="afectado0">{{ this.dato2 }}</td>
            <td id="afectado1">{{ this.dato3 }}</td>
            <td id="afectado10">{{ this.dato4 }}</td>
            <td>{{ this.total1 }}</td>
            <td>{{ this.total2 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">Gasolina Regular</th>
            <td>{{ this.dato5 }}</td>
            <td id="afectado2">{{ this.dato6 }}</td>
            <td id="afectado3">{{ this.dato7 }}</td>
            <td id="afectado11">{{ this.dato8 }}</td>
            <td>{{ this.total3 }}</td>
            <td>{{ this.total4 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">Kerosene</th>
            <td>{{ this.dato9 }}</td>
            <td id="afectado4">{{ this.dato10 }}</td>
            <td id="afectado5">{{ this.dato11 }}</td>
            <td id="afectado12">{{ this.dato12 }}</td>
            <td>{{ this.total5 }}</td>
            <td>{{ this.total6 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">LPG</th>
            <td>{{ this.dato13 }}</td>
            <td id="afectado6">{{ this.dato14 }}</td>
            <td id="afectado7">{{ this.dato15 }}</td>
            <td id="afectado13">{{ this.dato16 }}</td>
            <td>{{ this.total7 }}</td>
            <td>{{ this.total8 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal">Bunker</th>
            <td>{{ this.dato17 }}</td>
            <td id="afectado8">{{ this.dato18 }}</td>
            <td id="afectado9">{{ this.dato19 }}</td>
            <td id="afectado14">{{ this.dato20 }}</td>
            <td>{{ this.total9 }}</td>
            <td>{{ this.total10 }}</td>
          </tr>
          <tr>
            <th scope="row" class="rowTotal"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="rowFinal3">{{ this.total11 }}</td>
            <td class="rowFinal3">{{ this.total12 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
  <mat-card class="vistaUsers1">
    <p class="titleTable">SOLUCION INDICE DE PRECIOS PAASCHE</p>
    <hr />
    <div class="titleDato">
      <mat-card class="vistaUsers2">
        <p>
          I<sub>PP</sub> = (Σ p<sub>1</sub> q <sub>1</sub> / Σ p<sub>0</sub> q <sub>1</sub>) x 100
        </p>
        <p>
          I<sub>PP</sub> = ( {{ this.total12 }} / {{ this.total11 }} ) x 100%
        </p>
      </mat-card>
      <mat-card class="TitleResult">
        <p>I<sub>PP</sub> = {{ this.total13 }} %</p>
      </mat-card>

      <p class="title3">Finalmente del 2017 y 2019 los precios aumentaron en: {{ this.total13 }} % - 100 % = {{ this.total14 }} %</p>
    </div>
  </mat-card>
  <mat-card class="vistaUsers1">
    <p class="titleTable">SOLUCION INDICE DE PRECIO DE FISHER</p>
    <hr />
    <div class="titleDato">
      <mat-card class="vistaUsers2">
        <span style = "white-space: nowrap; font-size: más grande"> √ <span style = "text-decoration: overline;"> X + 1 </ span > </ span>
        <p>
          I<sub>IPF</sub> = <span style = "white-space: nowrap; font-size: más grande"> √ <span style = "text-decoration: overline;"> IPL x IPP </ span > </ span>
        </p>
        <p>
          I<sub>IPF</sub> = <span style = "white-space: nowrap; font-size: más grande"> √ <span style = "text-decoration: overline;"> ( {{ this.resultado13 }} x {{ this.total13 }} )</ span > </ span>
        </p>
      </mat-card>
      <mat-card class="TitleResult">
        <p>I<sub>IPF</sub> = {{ this.final1 }} %</p>
      </mat-card>
    </div>
  </mat-card>
</mat-card>
